@import 'bootstrap-sprockets';

@import 'bootstrap';

@import 'blacklight/blacklight';

.navbar-right {
  display: none;
}

.toggle_bookmark {
  display: none;
}

.input-group-addon {
  display: none;
}
