# The number of milliseconds of each tick
tickTime=2000
# The number of ticks that the initial 
# synchronization phase can take
initLimit=10
# The number of ticks that can pass between 
# sending a request and getting an acknowledgement
syncLimit=5
# the directory where the snapshot is stored.
# do not use /tmp for storage, /tmp here is just 
# example sakes.
dataDir=/home/summanet/solr_cluster4.5.1/zookeepers/zookeeper1/zoo_data
dataLogDir=/home/summanet/solr_cluster4.5.1/zookeepers/zookeeper1/zoo_datalog
# the port at which the clients will connect
clientPort=52001
#
# Be sure to read the maintenance section of the 
# administrator guide before turning on autopurge.
#
# http://zookeeper.apache.org/doc/current/zookeeperAdmin.html#sc_maintenance
#
# The number of snapshots to retain in dataDir
#autopurge.snapRetainCount=3
# Purge task interval in hours
# Set to "0" to disable auto purge feature
#autopurge.purgeInterval=1

#Each server know its ID from the myid file in the dataDir
server.1=localhost:52101:52201
server.2=localhost:52102:52202
server.3=localhost:52103:52203
