<?xml version="1.0" encoding="UTF-8"?>

<!-- $Id: web.xml 1 2011-10-21 09:33:25Z brj $ -->

<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">


  <display-name>dk.statsbiblioteket.netarchivesuite.archon</display-name>
    
  
   <listener>           
      <listener-class>dk.statsbiblioteket.netarchivesuite.archon.listeners.Log4JContextListener</listener-class>
   </listener>
  
   <listener>
      <listener-class>dk.statsbiblioteket.netarchivesuite.archon.listeners.InitializationContextListener</listener-class>
   </listener>
  
  <welcome-file-list>
    <welcome-file>configuration.jsp</welcome-file>
  </welcome-file-list>

 
  <servlet>
    <servlet-name>Archon Service</servlet-name>
    <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
    <init-param>
      <param-name>com.sun.jersey.config.property.packages</param-name>
      <param-value>dk.statsbiblioteket.netarchivesuite.archon.service</param-value>
    </init-param>
    <init-param>
      <param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
      <param-value>true</param-value>
    </init-param> 
    <load-on-startup>1</load-on-startup>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>Archon Service</servlet-name>
    <url-pattern>/services/*</url-pattern>
  </servlet-mapping>

  
</web-app>
